
<%= simple_form_for(@daily_report) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :reported_on, html5: true %>
    <%= f.input :content, input_html: { data: { controller: "textarea-autogrow" } } %>
    <%= f.input :keep_action_draft, input_html: { data: { controller: "textarea-autogrow" } } %>
    <%= f.input :problem_action_draft, input_html: { data: { controller: "textarea-autogrow" } } %>
    <%= f.input :try_action_draft, input_html: { data: { controller: "textarea-autogrow" } } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
